[submodule "sentinel.nvim"]
	path = config/sentinel.nvim
	url = git@github.com:kruziikrel13/sentinel.nvim
[submodule "quickshell"]
	path = config/quickshell
	url = git@github.com:kruziikrel13/quickshell.git
